<app-navbar></app-navbar>

<div class="mt-3 px-3">
  <div class="container">

    <h1>{{pageTitle}}</h1>

    <div class="container">
      <h3>Situazione attuale <span class="badge badge-primary">Now</span></h3>
      <div class="row">
        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Tavoli</h5>
            <div class="card-body">
              <h5 class="card-title">5/10</h5>
              <p class="card-text">tavoli disponibili</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Tavoli</h5>
            <div class="card-body">
              <h5 class="card-title">5/10</h5>
              <p class="card-text">tavoli disponibili</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Tavoli</h5>
            <div class="card-body">
              <h5 class="card-title">5/10</h5>
              <p class="card-text">tavoli disponibili</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

      </div> <!-- end row -->
      &nbsp;
      <hr>
      &nbsp;
      <h3>Statistiche sui dipendenti <span class="badge badge-primary">Oggi</span></h3>
      <!-- employees -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dipendente</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Piatti/bevande servite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <!-- end employees -->
    </div>


    <!-- closing page-->
  </div>
</div>