<app-navbar></app-navbar>

<div class="mt-3 px-3">
  <div class="container">

    <h1>{{pageTitle}}</h1>

    <div class="container">
      <h3>Situazione attuale <span class="badge badge-primary">Now</span></h3>
      <div class="row">
        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Tavoli</h5>
            <div class="card-body">
              <h5 class="card-title">{{numberOccupiedTables}}/{{numberTables}}</h5>
              <p class="card-text">tavoli occupati</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Ordini inviati</h5>
            <div class="card-body">
              <h5 class="card-title">{{ordersSent}}</h5>
              <p class="card-text">ordini inviati</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

        <div class="col-sm">
          <!-- number busy tables -->
          <div class="card">
            <h5 class="card-header">Ordini in preparazione</h5>
            <div class="card-body">
              <h5 class="card-title">{{ordersInProgess}}</h5>
              <p class="card-text">ordini in preparazione</p>
            </div>
          </div>
          &nbsp;
          <!-- end card-->
        </div>

      </div> <!-- end row -->
      &nbsp;
      <hr>
      &nbsp;
      <h3>Statistiche sui dipendenti</h3>
      <!-- employees -->
      <select id="CriterioChef" (change)="change_criterio_chef()">
        <option selected value="1">Numero ordini</option>
        <option value="2">Numero piatti</option>
      </select>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dipendente</th>
            <th scope="col">Ruolo</th>
            <th scope="col" *ngIf="criterioChef === 1">Ordini eseguiti</th>
            <th scope="col" *ngIf="criterioChef === 2">Piatti eseguiti</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="criterioChef === 1">
            <tr *ngFor="let chef of ordersChefs; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{chef.username}}</td>
              <td>{{chef.role}}</td>
              <td>{{chef.orders}}</td>
            </tr>
          </div>
          <div *ngIf="criterioChef === 2">
            <tr *ngFor="let chef of dishesChefs; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{chef.username}}</td>
              <td>{{chef.role}}</td>
              <td>{{chef.dishes}}</td>
            </tr>
          </div>
        </tbody>
      </table>

      <select id="CriterioWaiter" (change)="change_criterio_waiter()">
          <option selected value="1">Numero ordini</option>
          <option value="2">Numero piatti</option>
        </select>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Dipendente</th>
              <th scope="col">Ruolo</th>
              <th scope="col" *ngIf="criterioWaiter === 1">Ordini eseguiti</th>
              <th scope="col" *ngIf="criterioWaiter === 2">Piatti eseguiti</th>
            </tr>
          </thead>
          <tbody>
            <div *ngIf="criterioWaiter === 1">
              <tr *ngFor="let waiter of ordersWaiters; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{waiter.username}}</td>
                <td>{{waiter.role}}</td>
                <td>{{waiter.orders}}</td>
              </tr>
            </div>
            <div *ngIf="criterioWaiter === 2">
              <tr *ngFor="let waiter of dishesWaiters; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{waiter.username}}</td>
                <td>{{waiter.role}}</td>
                <td>{{waiter.dishes}}</td>
              </tr>
            </div>
          </tbody>
        </table>

        <select id="CriterioBarman" (change)="change_criterio_barman()">
            <option selected value="1">Numero ordini</option>
            <option value="2">Numero piatti</option>
          </select>
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Dipendente</th>
                <th scope="col">Ruolo</th>
                <th scope="col" *ngIf="criterioBarman === 1">Ordini eseguiti</th>
                <th scope="col" *ngIf="criterioBarman === 2">Piatti eseguiti</th>
              </tr>
            </thead>
            <tbody>
              <div *ngIf="criterioBarman === 1">
                <tr *ngFor="let barman of ordersBarmans; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{barman.username}}</td>
                  <td>{{barman.role}}</td>
                  <td>{{barman.orders}}</td>
                </tr>
              </div>
              <div *ngIf="criterioBarman === 2">
                <tr *ngFor="let barman of dishesBarmans; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{barman.username}}</td>
                  <td>{{barman.role}}</td>
                  <td>{{barman.dishes}}</td>
                </tr>
              </div>
            </tbody>
          </table>
      <!-- end employees -->
    </div>


    <!-- closing page-->
  </div>
</div>