<app-navbar></app-navbar>

<div class="container">
  <h1>Nuovo utente</h1>
  <nav>
    <!-- nav-tabs options -->
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="order-details-tab" data-toggle="tab" role="tab"
        aria-controls="order-details" aria-selected="true">Crea utente</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- tab content -->
    <div class="form-group">
      <label>Username</label>
      <input id="user" type="text" placeholder="Username" value="" (change)="user_changed($event.target.value)"
        class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input id="pwd" type="password" placeholder="Password" value="" (change)="password_changed($event.target.value)"
        type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Ruolo</label>
      <select class="form-control" id="role">
        <option *ngFor="let role of roles">{{role}}</option>
      </select>
    </div>
    <button (click)="create_user()" type="submit" class="btn btn-primary">Crea utente</button>

  </div>
</div>