<div class="row justify-content-center">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tavolo</th>
          <th scope="col">Posti</th>
          <th scope="col">Stato</th>
          <th scope="col">Dettagli</th>
        </tr>
      </thead>
      <tbody>
        <!-- iterate for each table -->
        <ng-container *ngFor="let table of tables">
          <tr>
            <td>{{table.number_id}}</td>
            <td>{{table.seats}}</td>
            <td>
              <span *ngIf="table.status" class="badge badge-success badge-pill">Libero</span>
              <span *ngIf="!table.status" class="badge badge-danger badge-pill">Occupato</span>
            </td>
            <td><button (click)="loadTablePage(table.number_id)" type="button" class="btn-outline-primary"><i
                  class="fas fa-info-circle"></i>
              </button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>