<app-navbar></app-navbar>

<div class="mt-5 px-5">
  <div class="container">
    <h1>Ordine <span class="badge badge-secondary">{{order._id}}</span></h1>
    <nav>
      <!-- nav-tabs options -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="order-details-tab" data-toggle="tab" href="#order-details" role="tab"
          aria-controls="order-details" aria-selected="true">Ordine</a>
      </div>
    </nav>
    <!-- tabs content -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="order-details" role="tabpanel" aria-labelledby="order-details-tab">
        &nbsp;
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><b>Piatto</b></span>
                <span><b>Tempo di preparazione</b></span>
                <span><b>Pronto</b></span>
            </li>
          <li *ngFor="let f of order.food; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
              <span>{{f}}</span>
              <span>{{getEstimatedTime(f)}}'</span>
              <input name="ckFood" type="checkbox" (change)="FoodReady(order, i)">
          </li>
        </ul>
        <br>
        <br>
        <div>
            <button id="btnStart" (click)="startOrder(order)" class="btn btn-lg btn-primary" type="submit">Prendi in Consegna</button>
        </div>
      </div>
    </div>
  </div>
</div>
