
<div class="container" style="width: 400px; margin-top: 20px;" >
  <div class="form-signin text-center loginform ">
    <i class="fas fa-envelope loginlogo"></i>

    <div>
        <h1>Login</h1>
    </div>
    
    <div class="contenitore">
    <p>
    <label for="inputUser" class="sr-only">User</label><br>
    <input type="User" #usertxt id="inputUser" class="form-control" placeholder="User" required autofocus>
    </p>
    <p>
    <label for="inputPassword" class="sr-only">Password</label><br>
    <input type="password" #passwdtxt id="inputPassword" class="form-control" placeholder="Password" required>
    </p>
    </div>
  
    <!--<div>
        <mat-checkbox input type="checkbox" #checkr value="remember-me">Remember me</mat-checkbox>
    </div>-->
    
    <div *ngIf="errmessage" class="alert alert-danger" role="alert">
      Login error: {{errmessage}}
    </div>
    
    <button mat-button (click)="login( usertxt.value, passwdtxt.value, checkr.checked );" >Sign in</button>

  </div>
</div>
