
body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  .contenitore p{
    color:black;
    text-align: center;
    font-size: 1.9em;
    font-family: arial;
   line-height:2px;
}

  p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
  }

/*
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}
*/