<app-navbar></app-navbar>

<div class="mt-5 px-5">
  <div class="container">

    <nav>
      <!-- nav options -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Ordine</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">Nuovo Ordine</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <!-- riepilogo ordine -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <span>
          <b>Tavolo numero: {{tableNumber}}</b>
        </span>
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div *ngIf="orders.length > 0">
            <div *ngFor="let order of orders">
              <span><b>Ordine Numero: {{order._id}}</b></span>
              <br>
              <br>
              <br>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><b>Piatto</b></span>
                  <span><b>Prezzo</b></span>
                  <span><b>Quantità</b></span>
                </li>
              </ul>
              <ul class="list-group">
                <li *ngFor="let dish of order.dishes" class="list-group-item d-flex justify-content-between align-items-center">
                  <span>{{dish}}</span>
                  <span>{{getPrice(dish)}}</span>
                  <span>{{getQuantity(order._id, dish)}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br>
        <ul #ul id="ul" class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><b>Piatto</b></span>
            <span><b>Prezzo</b></span>
            <span><b>Quantità</b></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <select [(ngModel)]="selectedOption">
              <option selected>Piatto</option>
              <option *ngFor="let dish of dishes">{{dish.name}}</option>
            </select>
            <span>{{getPrice(selectedOption)}}</span>
            <span>
                <input type="text" #quantity value="0">
                &nbsp;
                <button name="qt" class="btn btn-outline-secondary" type="button" id="increase" (click)="increase()">+</button>
                &nbsp;
                <button name="qt" class="btn btn-outline-secondary" type="button" id="decrease" (click)="decrease()">-</button>
            </span>
          </li>
          
        </ul>
        <button class="btn btn-outline-secondary" type="button" (click)="add_row()"> Aggiungi riga</button>
      </div>
    </div>

  </div>
</div>