<app-navbar></app-navbar>

<div class="mt-5 px-5">
  <div class="container">
    <h1>Tavolo <span class="badge badge-secondary">{{tableNumber}}</span></h1>
    <nav>
      <!-- nav-tabs options -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngIf="role === 'CASHER'" class="nav-item nav-link active" id="order-details-tab" data-toggle="tab" href="#order-details" role="tab"
          aria-controls="order-details" aria-selected="true">Ordine</a>
        <a *ngIf="role === 'WAITER'" class="nav-item nav-link active" id="new-order-tab" data-toggle="tab" href="#new-order" role="tab"
          aria-controls="new-order" aria-selected="false">Nuovo Ordine</a>
      </div>
    </nav>
    <!-- tabs content -->
    <div class="tab-content" id="nav-tabContent">
      <!-- order details -->
      <div *ngIf="role === 'CASHER'">
        <div class="tab-pane fade show active" id="order-details" role="tabpanel" aria-labelledby="order-details-tab">
          &nbsp;
          <div *ngIf="uniqueDishOrders.length === 0">
            <span>Al momento non ci sono ordini per questo tavolo</span>
          </div>
          <div *ngIf="uniqueDishOrders.length > 0">
            <div *ngFor="let order of uniqueDishOrders">
              <div class="card">
                <div class="card-header">
                  Ordine: <b>{{order.id}}</b>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->

                  <!--- order table with info -->
                  <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Piatto</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Quantit&agrave;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- dish -->
                      <tr *ngFor="let food of order.food">
                        <td>{{food}}</td>
                        <td>{{getDishPrice(food)}}</td>
                        <td>{{getDishQuantity(order.id, food)}}</td>
                      </tr>
                      <!-- drink -->
                      <tr *ngFor="let drink of order.drinks">
                        <td>{{drink}}</td>
                        <td>{{getDrinkPrice(drink)}}</td>
                        <td>{{getDrinkQuantity(order.id, drink)}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- price -->
                  <div *ngIf="role === 'CASHER'">
                    <button type="button" class="btn btn-info">
                      Totale <span class="badge badge-light">{{get_bill(order.id)}}&euro;</span>
                    </button>
                    &nbsp;
                    <!--buttons -->
                    <button id="payBtn" type="button" class="btn btn-primary" (click)="pay(order)" disabled="true">Paga</button>
                    &nbsp;
                    <span>Piatti completati: {{order.n_food_completed}}/{{order.n_total_food}}</span>
                    &nbsp;
                    <button *ngIf="order.food_status === 0" type="button" class="btn btn-danger">Ordine non ancora iniziato</button>
                    &nbsp;
                    <button *ngIf="order.food_status === 1" type="button" class="btn btn-warning">Ordine in preparazione</button>
                    &nbsp;
                    <button *ngIf="order.food_status === 2" type="button" class="btn btn-success">Ordine completato</button>
                    &nbsp;
                    <button *ngIf="order.food_status === 3" type="button" class="btn btn-success">Ordine consegnato</button>
                    <!--<button type="button" class="btn btn-danger" (click)="delete_order(order.id)">Cancella ordine</button>-->
                  </div>
                </div>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <!-- new order -->
      <div *ngIf="role === 'WAITER'">
        <div class="tab-pane fade show active" id="new-order" role="tabpanel" aria-labelledby="new-order-tab">
          <br>
          <ul id="ul" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><b>Piatto</b></span>
              <span><b>Prezzo</b></span>
              <span><b>Quantità</b></span>
            </li>
            <div *ngFor="let row of foodRows">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <select [attr.id]="'selection-food-'+row" name="food" (change)="set_food(row, $event.target.value)">
                  <option selected>Piatto</option>
                  <option *ngFor="let f of food" [value]="f.name">{{f.name}}</option>
                </select>
                <span [attr.id]="'price-food-'+row" textContet="0">0</span>
                <span>
                  <input type="text" [attr.id]="'quantity-food-'+row" name="quantity-food" value="0"
                    (change)="change_food_qt(row, $event.target.value)">
                  &nbsp;
                  <button class="btn btn-outline-secondary" type="button" id="increase_food"
                    (click)="increase_food_qt(row)">+</button>
                  &nbsp;
                  <button class="btn btn-outline-secondary" type="button" id="decrease_food"
                    (click)="decrease_food_qt(row)">-</button>
                </span>
              </li>
            </div>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button class="btn btn-outline-secondary" type="button" (click)="add_food_row()"> Aggiungi riga</button>
              <button class="btn btn-outline-secondary" type="button" (click)="delete_food_row()"> Elimina riga</button>
            </li>
          </ul>
          <br>
          <ul id="ul" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><b>Bibita</b></span>
              <span><b>Prezzo</b></span>
              <span><b>Quantità</b></span>
            </li>
            <div *ngFor="let row of drinksRows">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <select [attr.id]="'selection-drink-'+row" name="drink" (change)="set_drink(row, $event.target.value)">
                  <option selected>Bibita</option>
                  <option *ngFor="let drink of drinks" [value]="drink.name">{{drink.name}}</option>
                </select>
                <span [attr.id]="'price-drink-'+row" textContet="0">0</span>
                <span>
                  <input type="text" [attr.id]="'quantity-drink-'+row" name="quantity-drink" value="0"
                    (change)="change_drink_qt(row, $event.target.value)">
                  &nbsp;
                  <button name="qt" class="btn btn-outline-secondary" type="button" id="increase_drink"
                    (click)="increase_drink_qt(row)">+</button>
                  &nbsp;
                  <button name="qt" class="btn btn-outline-secondary" type="button" id="decrease_drink"
                    (click)="decrease_drink_qt(row)">-</button>
                </span>
              </li>
            </div>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button class="btn btn-outline-secondary" type="button" (click)="add_drink_row()"> Aggiungi riga</button>
              <button class="btn btn-outline-secondary" type="button" (click)="delete_drink_row()"> Elimina riga</button>
            </li>
          </ul>
          <br>
          <br>
          <br>
          <button class="btn btn-outline-success" type="button" (click)="send_order()">Invia ordine</button>
        </div>
      </div>
    </div>
  </div>
</div>