<app-navbar></app-navbar>

<div class="mt-5 px-5">
  <div class="container">
    <h1>Tavolo <span class="badge badge-secondary">{{tableNumber}}</span></h1>
    <nav>
      <!-- nav-tabs options -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngIf="role === 'CASHER'" class="nav-item nav-link active" id="order-details-tab" data-toggle="tab"
          href="#order-details" role="tab" aria-controls="order-details" aria-selected="true">Ordine</a>
        <a *ngIf="role === 'WAITER'" class="nav-item nav-link active" id="new-order-tab" data-toggle="tab"
          href="#new-order" role="tab" aria-controls="new-order" aria-selected="false">Nuovo Ordine</a>
      </div>
    </nav>
    <!-- tabs content -->
    <div class="tab-content" id="nav-tabContent">
      <!-- CASHER order details -->
      <div *ngIf="role === 'CASHER'">
        <div class="tab-pane fade show active" id="order-details" role="tabpanel" aria-labelledby="order-details-tab">
          &nbsp;
          <div *ngIf="uniqueDishOrders.length === 0">
            <span>Al momento non ci sono ordini per questo tavolo</span>
          </div>
          <div *ngIf="uniqueDishOrders.length > 0">
            <div *ngFor="let order of uniqueDishOrders">
              <div class="card">
                <div class="card-header">
                  Ordine: <b>{{order.id}}</b>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Info:</h5>
                  <p>Status <i class="fas fa-star-half-alt"></i> &nbsp;
                    <span *ngIf="order.food_status === 0 && order.food.length > 0"
                      class="badge badge-pill badge-danger">
                      Ordine non ancora iniziato
                    </span>
                    <span *ngIf="order.food_status === 1" class="badge badge-pill badge-warning">
                      Ordine in preparazione
                    </span>
                    <span *ngIf="order.food_status === 2" class="badge badge-pill badge-success">
                      Ordine non ancora iniziato
                    </span>
                    <span *ngIf="order.food_status === 3" class="badge badge-pill badge-success">
                      Ordine consegnato
                    </span>
                  </p>
                  <p>Piatti completati <i class="fas fa-spinner"></i> &nbsp;
                    <span class="badge badge-pill badge-info" *ngIf="order.food.length > 0">
                      {{order.n_food_completed}}/{{order.n_total_food}}</span>
                  </p>
                  <h5 class="card-title">Dettagli:</h5>
                  <!--- order table with info -->
                  <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Piatto</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Quantit&agrave;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- dish -->
                      <tr *ngFor="let food of order.food">
                        <td>{{food}}</td>
                        <td>{{getDishPrice(food)}}</td>
                        <td>{{getDishQuantity(order.id, food)}}</td>
                      </tr>
                      <!-- drink -->
                      <tr *ngFor="let drink of order.drinks">
                        <td>{{drink}}</td>
                        <td>{{getDrinkPrice(drink)}}</td>
                        <td>{{getDrinkQuantity(order.id, drink)}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- price -->
                  <button type="button" class="btn btn-outline-info">
                    Totale <span class="badge">{{get_bill(order.id)}}&euro;</span>
                  </button>
                  &nbsp;
                  <!--buttons -->
                  <button id="payBtn" type="button" class="btn btn-outline-primary" (click)="pay(order)"
                    [disabled]="order.food_status !== 3 && order.food.length > 0">
                    Paga <i class="fas fa-credit-card"></i>
                  </button>
                  &nbsp;
                  <!--<button type="button" class="btn btn-danger" (click)="delete_order(order.id)">Cancella ordine</button>-->
                </div>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <!-- WAITER new order -->
      <div *ngIf="role === 'WAITER'">
        <div class="tab-pane fade show active" id="new-order" role="tabpanel" aria-labelledby="new-order-tab">
          <br>
          <!-- food -->
          <div class="card">
            <h5 class="card-header">Piatti</h5>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <ng-container *ngFor="let row of foodRows">
                <hr>
                <div class="form-row">
                  <!-- plate -->
                  <div class="form-group col-md-4">
                    <label><b>Piatto</b></label>
                    <select [attr.id]="'selection-food-'+row" name="food" (change)="set_food(row, $event.target.value)"
                      class="form-control">
                      <option selected value="Piatto">Piatto...</option>
                      <option *ngFor="let f of food" [value]="f.name">{{f.name}}</option>
                    </select>
                  </div>
                  <!-- price -->
                  <div class="form-group col-md-4">
                    <label><b>Prezzo</b></label>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">&euro;</span>
                      </div>
                      <input type="text" class="form-control" [attr.id]="'price-food-'+row" [value]="0" readonly>
                    </div>
                  </div>
                  <!-- quantity -->
                  <div class="form-group col-md-4">
                    <label><b>Quantit&agrave;</b></label>
                    <div class="input-group">
                      <input class="form-control" [attr.id]="'quantity-food-'+row" name="quantity-food" [value]="0"
                        (change)="change_food_qt(row, $event.target.value)" readonly>
                      <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary" type="button" id="increase_food"
                          (click)="increase_food_qt(row)">
                          <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button" id="decrease_food"
                          (click)="decrease_food_qt(row)">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-container>
              <!-- cta-->
              <button type="button" class="btn btn-primary" (click)="add_food_row()">Aggiungi riga</button>
              &nbsp;
              <button type="button" class="btn btn-secondary" (click)="delete_food_row()">Elimina riga</button>
            </div>
          </div>

          &nbsp;

          <!-- drinks -->
          <div class="card">
            <h5 class="card-header">Bibite</h5>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <ng-container *ngFor="let row of drinksRows">
                <hr>
                <div class="form-row">
                  <!-- plate -->
                  <div class="form-group col-md-4">
                    <label><b>Bibita</b></label>
                    <select [attr.id]="'selection-drink-'+row" name="drink"
                      (change)="set_drink(row, $event.target.value)" class="form-control">
                      <option selected value="Bibita">Bibita...</option>
                      <option *ngFor="let d of drinks" [value]="d.name">{{d.name}}</option>
                    </select>
                  </div>
                  <!-- price -->
                  <div class="form-group col-md-4">
                    <label><b>Prezzo</b></label>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">&euro;</span>
                      </div>
                      <input type="text" class="form-control" [attr.id]="'price-drink-'+row" [value]="0" readonly>
                    </div>
                  </div>
                  <!-- quantity -->
                  <div class="form-group col-md-4">
                    <label><b>Quantit&agrave;</b></label>
                    <div class="input-group">
                      <input class="form-control" [attr.id]="'quantity-drink-'+row" name="quantity-drink" [value]="0"
                        (change)="change_drink_qt(row, $event.target.value)" readonly>
                      <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary" type="button" id="increase_drink"
                          (click)="increase_drink_qt(row)">
                          <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button" id="decrease_drink"
                          (click)="decrease_drink_qt(row)">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-container>
              <!-- cta-->
              <button type="button" class="btn btn-primary" (click)="add_drink_row()">Aggiungi riga</button>
              &nbsp;
              <button type="button" class="btn btn-secondary" (click)="delete_drink_row()">Elimina riga</button>
            </div>
          </div>

          <!-- submit order -->
          &nbsp;
          <button class="btn btn-success btn-lg btn-block" type="button" (click)="send_order()">
            Invia ordine <i class="fas fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>