button[name="qt"] {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    font-size: 20px;
}

#addRow {
    width: 80px;
    height: 25px;
}

.color-yellow {
    color: 'yellow';
}