<app-navbar></app-navbar>

<div class="mt-5 px-5">
  <div class="container">
    <h1>{{pageTitle}}</h1>
    <!-- alert -->
    <div class="alert alert-primary" role="alert">
      Nuovo piatto da servire
    </div>


    <!-- tables view -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Tavolo 1</h5>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Tavolo 2</h5>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Tavolo 3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>