<app-navbar></app-navbar>

<div class="mt-2 px-2">
  <div class="container">

    <h1>{{pageTitle}}</h1>

    <!-- tables view only for waiters -->
    <div class="container" *ngIf="role === 'waiter'">
      <!-- alert -->
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- list of tables -->
      <!--<app-dashboard-tables [testTables]=testTables></app-dashboard-tables> -->
    </div>

    <!-- tables view only for cashier 
    <div class="container" *ngIf="role === 'cashier'">
      <app-dashboard-tables [testTables]=testTables></app-dashboard-tables>
    </div>-->

    <!-- only for chefs -->
    <div class="container" *ngIf="role === 'chef'">
      <app-dashboard-orders [testOrders]=testOrders></app-dashboard-orders>
    </div>

    <!-- only for barman -->
    <div class="container" *ngIf="role === 'barman'">
      <app-dashboard-orders [testOrders]=testOrders></app-dashboard-orders>
    </div>

    <!-- closing page-->
  </div>
</div>