<app-navbar></app-navbar>

<div class="mt-2 px-2">
  <div class="container">

    <h1>{{pageTitle}}</h1>

    <!-- tables view only for waiters -->
    

    <!-- tables view only for cashier -->
    <div class="container" *ngIf="role === 'CASHER'">
      <app-dashboard-tables [role]="role"></app-dashboard-tables>
    </div>

    <div class="container" *ngIf="role === 'WAITER'">
      <app-new-order-alert></app-new-order-alert>
      <app-dashboard-tables [role]="role"></app-dashboard-tables>
    </div>

    <!-- only for chefs -->
    <div class="container" *ngIf="role === 'CHEF'">
      <app-dashboard-orders [testOrders]=testOrders></app-dashboard-orders>
    </div>

    <!-- only for barman -->
    <div class="container" *ngIf="role === 'BARMAN'">
      <app-dashboard-orders [testOrders]=testOrders></app-dashboard-orders>
    </div>

    <!-- closing page-->
  </div>
</div>