<div class="row justify-content-center">
  <div class="col-8">
    <!-- only for chefs -->
    <div class="container" *ngIf="role === 'CHEF'">
      <div *ngIf="suspendedFoodOrders.length > 0">
        <span>Ordini in sospeso</span>
        <ul class="list-group">
          <li *ngFor="let order of suspendedFoodOrders" (click)="loadOrderPage(order._id)" class="list-group-item d-flex justify-content-between align-items-center">
            <span>Tavolo {{order.table_number}}</span>
            <span>{{order.food.length}} Piatti</span>
            <span>Tempo stimato {{executeOrderTime(order)}}'</span>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <span *ngIf="foodOrders.length === 0">Non ci sono ordini nuovi al momento</span>
      <ul class="list-group">
       <li *ngFor="let order of foodOrders" (click)="loadOrderPage(order._id)" class="list-group-item d-flex justify-content-between align-items-center">
         <span>Tavolo {{order.table_number}}</span>
         <span>{{order.food.length}} Piatti</span>
         <span>Tempo stimato {{executeOrderTime(order)}}'</span>
       </li>
      </ul>
    </div>
    <!-- only for barman -->
    <div class="container" *ngIf="role === 'BARMAN'">
      <div *ngIf="suspendedDrinkOrders.length > 0">
        <span>Ordini in sospeso</span>
        <ul class="list-group">
          <li *ngFor="let order of suspendedDrinkOrders" (click)="loadOrderPage(order._id)" class="list-group-item d-flex justify-content-between align-items-center">
            <span>Tavolo {{order.table_number}}</span>
            <span>{{order.drink.length}} Bibite</span>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <span *ngIf="drinkOrders.length === 0">Non ci sono ordini nuovi al momento</span>
      <ul class="list-group">
        <li *ngFor="let order of drinkOrders" (click)="loadOrderPage(order._id)" class="list-group-item d-flex justify-content-between align-items-center">
          <span>Tavolo {{order.table_number}}</span>
          <span>{{order.drinks.length}} Bibite</span>
        </li>
      </ul>
    </div>
  </div>
</div>